---
layout: default
---

<div class="blog__posts mdl-grid">
    {% for post in site.html_pages %}
    {% if post.title %}
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp">
        <div class="mdl-card__media mdl-color-text--grey-50" style="background: url(http://img.youtube.com/vi/{{ post.video_id }}/hqdefault.jpg) center / cover;">
            <a href="{{ post.url }}">
                <i class="material-icons">play_circle_filled</i>
            </a>
        </div>
        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div>
                <strong>{{ post.song }}</strong>
                <span>{{ post.band }}</span>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
