---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
      <div class="">
          <video id="player" class="video-js vjs-default-skin vjs-big-play-centered">
              {% if page.local_video %}
              <source src="{{ page.local_video }}" />
              {% endif %}
          </video>
      </div>

      <script>
      videojs('player', {
          controls: true,
          nativeControlsForTouch: false,
          width: 800,
          height: 480,
          plugins: {
              ass: {
                  src: [
                      "{{ page.subtitle }}"
                  ],
                  {% if page.subtitles_delay %}
                  delay: {{ page.subtitles_delay }}
                  {% else %}
                  delay: -0.45
                  {% endif %}
              }
          },
          {% unless page.local_video %}
          techOrder: ["youtube"],
          src: "https://www.youtube.com/watch?v={{ page.video_id }}",
          poster: false
          {% endunless %}
      });
      </script>

      <script type="text/javascript">
      WebFontConfig = {
          google: { families: {{ page.font_names}} }
      };
      (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
      </script>
  </article>

</div>
